<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login page</title>
</head>
<body>
  <h1>Login to the server</h1>
  <form method = "POST" action="/user/login">
    <label for="">Email</label>
    <input type="email" name="email" required>
    <label for="">Password</label>
    <input type="text" name="password" required>
    <button type="submit">Login</button>
  </form>
</body>
</html>