<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Signup page</title>
</head>
<body>
  <h1>Sign Up to the server</h1>
  <form method = "POST" action="/user">
    <label for="">Full Name</label>
    <input type="text" name="userName" required>
    <label for="">Email</label>
    <input type="email" name="email" required>
    <label for="">Password</label>
    <input type="text" name="password" required>
    <button type="submit">Signup</button>
  </form>
</body>
</html>